<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MDM_ADSERVER_BASE</key>
	<string>http://www5.smartadserver.com/</string>
	<key>MDM_AD_PUBLISHER_ID</key>
	<string>120476</string>
	<key>MDM_AD_FORMATS</key>
	<dict>
		<key>INTERSTITIAL</key>
		<real>20529</real>
		<key>ARROBA</key>
		<real>23485</real>
	</dict>
	<key>MDM_AD_SCREENS</key>
	<dict>
		<key>MAIN</key>
		<string>707793</string>
	</dict>
</dict>
</plist>
