<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowsBackgroundLocationUpdates</key>
	<string>YES</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MDM iOS Example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HandsAdPoc</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>airbnb</string>
		<string>aliexpress</string>
		<string>com.amazon.mobile.shopping</string>
		<string>americanas</string>
		<string>fb771488262881983</string>
		<string>br.com.portoseguro.auto</string>
		<string>voeazul</string>
		<string>Azul</string>
		<string>bd</string>
		<string>bds</string>
		<string>originalmobilebanking</string>
		<string>imoji</string>
		<string>fb414112025375272</string>
		<string>fb367607873324969</string>
		<string>bookingApp</string>
		<string>booking</string>
		<string>buscape</string>
		<string>cabify</string>
		<string>camscannerfree</string>
		<string>camscannerco</string>
		<string>app-casasbahia-paypal</string>
		<string>com.cnova.casasbahia</string>
		<string>catholauncher</string>
		<string>centauro</string>
		<string>gsd-centauro</string>
		<string>fb762171213909880</string>
		<string>googlechrome</string>
		<string>cielomobile</string>
		<string>itaucard</string>
		<string>StarterApplicationCredicard</string>
		<string>br.com.cuponeria.Cuponeria</string>
		<string>gsd-dafiti</string>
		<string>DAFITI</string>
		<string>decolar.xSell</string>
		<string>fb523267324359585</string>
		<string>decolar.iPhone</string>
		<string>com.decolar.decolar</string>
		<string>dietaesaude</string>
		<string>dinda</string>
		<string>db-auth</string>
		<string>fb148647071918417</string>
		<string>itauempresas</string>
		<string>endoapp</string>
		<string>BDNiPhoneExclusive</string>
		<string>com.cnova.extra</string>
		<string>foxapp</string>
		<string>fox</string>
		<string>com.motionvolt.flipdiving</string>
		<string>GlobosatPlayApp</string>
		<string>googlegmail</string>
		<string>comgoogleearthgeo</string>
		<string>grouponver2</string>
		<string>groupon</string>
		<string>com.globo.gshow</string>
		<string>guiabolso</string>
		<string>hbogo</string>
		<string>comhtsuenterprisehsbcpersonalbanking</string>
		<string>hipercard</string>
		<string>com.ketchapp.hop</string>
		<string>hotelurbano</string>
		<string>hotelsapp</string>
		<string>ingresso.rapido</string>
		<string>ingresso</string>
		<string>itaucard</string>
		<string>StarterApplicationItaucard</string>
		<string>kekanto</string>
		<string>voyager</string>
		<string>linkedin</string>
		<string>mega</string>
		<string>co.happybits.marcopolo</string>
		<string>fb118493188254996</string>
		<string>meener</string>
		<string>mpago</string>
		<string>mercadopago</string>
		<string>meli</string>
		<string>fb-messenger-public</string>
		<string>fb291393961033960</string>
		<string>appmultiplus</string>
		<string>bee7mytalkingangela</string>
		<string>o7mytalkingangela</string>
		<string>mfp</string>
		<string>NetNow</string>
		<string>fb408338479193229</string>
		<string>nespresso</string>
		<string>fb1241778632502277</string>
		<string>APPNETSHOES</string>
		<string>nikerunclub</string>
		<string>ntc</string>
		<string>nuapp</string>
		<string>oqvapp</string>
		<string>bbmbp</string>
		<string>pagseguro</string>
		<string>itaupagcontas</string>
		<string>pandora</string>
		<string>paypal</string>
		<string>peixeurbano</string>
		<string>itaupersonnalite</string>
		<string>com.itau.personalite</string>
		<string>fb1581899062119786</string>
		<string>fb214176312063171</string>
		<string>com.playstation.PlayStationApp</string>
		<string>fb363297343685246iphonebrazil</string>
		<string>playshoo-texaspoker-applink-565061887</string>
		<string>polishop</string>
		<string>app-pontofrio-paypal</string>
		<string>com.cnova.pontofrio</string>
		<string>posthaus</string>
		<string>runkeeper</string>
		<string>mfp-runkeeper</string>
		<string>RunKeeperPro</string>
		<string>at.runtastic.gpssportapp</string>
		<string>mfp-runtastic-runtasticlite</string>
		<string>appsbt</string>
		<string>semparar</string>
		<string>shazam</string>
		<string>com.shazam.Shazam</string>
		<string>shoptime</string>
		<string>skyscanner</string>
		<string>fb1719391188307221</string>
		<string>submarino</string>
		<string>xtv</string>
		<string>tastemade</string>
		<string>tmapp</string>
		<string>twcweather</string>
		<string>tinder</string>
		<string>itautokpag</string>
		<string>trafi</string>
		<string>tricae</string>
		<string>gsd-tricae</string>
		<string>tripadvisor</string>
		<string>fb880349171988303</string>
		<string>fb320178011407935trueskate</string>
		<string>turbo</string>
		<string>fb721758681215609</string>
		<string>walmart</string>
		<string>whatsapp</string>
		<string>youtube</string>
		<string>yelp</string>
		<string>instagram</string>
		<string>easytaxi</string>
		<string>uber</string>
		<string>comgooglemaps</string>
		<string>twitter</string>
		<string>fb</string>
		<string>com.99taxis</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>O aplicativo $(EXECUTABLE_NAME) usará a localização para otimizar a sua experiência.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>O aplicativo $(EXECUTABLE_NAME) usará a localização para otimizar a sua experiência.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O aplicativo $(EXECUTABLE_NAME) usará a localização para otimizar a sua experiência.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
